.Recipe section {
    margin-bottom: 0.5rem;
}
.SearchPage {
    background-image: url(../../Images/Recipe_HomeImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.2rem;
    height: 300px;
    margin: auto;
    margin-bottom: 5rem;
    width: 100%;
}
.Recipe h1 {
    font-size: 55px;
}
.Recipe form {
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    height: 48px;
    padding: 0.2rem 0.2rem;
}
.Recipe i {
    border: none;
    color: black;
}
.Recipe input {
    background-color: white;
    border: none;
    height: 40px;
    outline: 0;
    width: 500px;
}
.Recipe input[type = "text"] {
    font-family: 'Instrument Serif', serif;
    font-size: 18px;
    padding-left: 0.5rem;
}
.Recipe span {
    color: red;
    font-size: 20px;
    margin-top: 0.35rem;
    text-align: center;
}
#Utensils {
    padding-left: 0.5rem;
}
#Search {
    background-color: orangered;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
}
.SearchResults {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 2rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 1300px;
}
.SearchResults  img {
    border-radius: 5px;
    height: 400px;
    width: 400px;
}
.SearchResults  figure {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.SearchResults  h2 {
    font-weight: bold; 
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: capitalize;
} 
.SearchResults div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.SearchResults div section:first-child {
    display: flex;
    flex-direction: row;
    column-gap: 20rem;
    justify-content: center;
}
.Link {
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .SearchPage {
        background-image: url(../../Images/Recipe_HomeImage.jpg);
        height: 300px;
        margin: auto;
        width: 768px;
    }
    .Recipe h1 {
        font-size: 35px;
        margin-top: 4rem;
    }
    .Recipe form {
        width: 550px;
    }
    .Recipe input {
        background-color: white;
        border: none;
        height: 40px;
        outline: 0;
        width: 470px;
    }
    .Recipe p {
        margin-top: -1rem;
    }
    .SearchResults {
        display: grid;
        grid-template-columns: 220px 220px 220px;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        row-gap: 1rem;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 5rem;
        width: 750px; 
    }
    .SearchResults img {
        height: 210px;
        width: 210px;
    }
}

@media (max-width: 428px) {
    .SearchPage {
        background-image: url(../../Images/Responsive_Recipe_HomeImage.jpg);
        height: 250px;
        margin: auto;
        width: 428px;
    }
    .Recipe h1 {
        font-size: 25px;
        margin-top: 4rem;
    }
    .Recipe form {
        width: 350px;
    }
    .Recipe input {
        background-color: white;
        border: none;
        height: 40px;
        outline: 0;
        width: 300px;
    }
    .Recipe input[type = "text"] {
        font-family: 'Instrument Serif', serif;
        font-size: 16px;
    }
    .Recipe p {
        margin-top: -1rem;
    }
    .SearchResults {
        display: grid;
        grid-template-columns: 400px;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 5rem;
        margin-left: 1.5rem;
        width: 400px;
    }
    .SearchResults  img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 375px) {
    .SearchPage {
        background-image: url(../../Images/Responsive_Recipe_HomeImage.jpg);
        height: 250px;
        margin: auto;
        width: 375px;
    }
    .Recipe h1 {
        font-size: 25px;
        margin-top: 4rem;
    }
    .Recipe form {
        width: 350px;
    }
    .Recipe input {
        background-color: white;
        border: none;
        height: 40px;
        outline: 0;
        width: 300px;
    }
    .Recipe p {
        margin-top: -1rem;
    }
    .SearchResults {
        display: grid;
        grid-template-columns: 350px;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        width: 375px;
    }
    .SearchResults  img {
        height: 300px;
        width: 300px;
    }
}